table {
    width: 80%;
    position: absolute;
    margin: 50px 0px 0px 50px;
    background: rgba(7, 7, 104, 0.144);
    border-radius: 10px;
    border-color: #111111;
    padding: 0;
}

td.mat-cell:last-of-type {
    padding-right: 0px;
}

.eliminar {
    background: #1e3761;
    margin: 20px;
}

.eliminar:hover {
    background: #0069FE;
}

th.mat-header-cell {
    text-align: center;
}

td.mat-cell {
    text-align: center;
}